name: Build macOS
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: jurplel/install-qt-action@b3ea5275e37b734d027040e2c7fe7a10ea2ef946
        with:
          cache: true
      - name: build
        run: |
          make build-macos
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: minikube-gui-macos
          path: ./minikube-gui-macos.dmg
