name: Tag & Release
on:
  workflow_dispatch:
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - name: Get Version
        run: |
          export VERSION=$(sed -n -e 's/.*QVersionNumber::fromString(\"\(.*\)\");/\1/p' src/window.cpp)
          git tag "v$VERSION"
          git push origin "v$VERSION"
  build-linux-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: jurplel/install-qt-action@2d518188e746defd451af981c3c901f463d99e29
        with:
          cache: true
      - name: build
        run: |
          make build-linux
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: minikube-gui-linux-release
          path: ./minikube-gui-linux.tar.gz
  build-macos-release:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: jurplel/install-qt-action@2d518188e746defd451af981c3c901f463d99e29
        with:
          cache: true
      - name: build
        run: |
          make build-macos
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: minikube-gui-macos-release
          path: ./minikube-gui-macos.dmg
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: minikube-gui-macos-tar-release
          path: ./minikube-gui-macos.tar.gz
  build-windows-release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: jurplel/install-qt-action@2d518188e746defd451af981c3c901f463d99e29
        with:
          cache: true
      - name: build
        shell: cmd
        run: |
          make build-windows
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: minikube-gui-windows-release
          path: ./minikube-gui-windows.zip
  release:
    needs:
      [
        tag,
        build-linux-release,
        build-macos-release,
        build-windows-release,
      ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - name: Get Version
        run: |
          export VERSION=$(sed -n -e 's/.*QVersionNumber::fromString(\"\(.*\)\");/\1/p' src/window.cpp)
          echo "version=$VERSION" >> $GITHUB_ENV
          echo "$VERSION"
      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: minikube-gui-linux-release
      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: minikube-gui-macos-release
      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: minikube-gui-macos-tar-release
      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: minikube-gui-windows-release
      - uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        with:
          name: 'v${{ env.version }}'
          tag_name: 'refs/tags/v${{ env.version }}'
          files: |
            minikube-gui-linux.tar.gz
            minikube-gui-macos.dmg
            minikube-gui-macos.tar.gz
            minikube-gui-windows.zip
  update-releases-json:
    needs:
      [
        release,
      ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753
      - run: |
          export VERSION=$(sed -n -e 's/.*QVersionNumber::fromString(\"\(.*\)\");/\1/p' src/window.cpp)
          make update-releases-json
      - name: Create PR
        uses: peter-evans/create-pull-request@284f54f989303d2699d373481a0cfa13ad5a6666
        with:
          token: ${{ secrets.MINIKUBE_BOT_PAT }}
          commit-message: Update releases.json
          committer: minikube-bot <minikube-bot@google.com>
          author: minikube-bot <minikube-bot@google.com>
          branch: update_releases_json
          push-to-fork: minikube-bot/minikube-gui
          base: main
          delete-branch: true
          title: 'Update releases.json'
